@import 'reset';

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgb(249, 184, 116);

    .header-title {
        width: 900px;
        text-align: center;
        padding: 10px 0px;
        font-size: 32px;
        color: #FFFFFF;
    }
}

.main-section {
    background-color: rgb(240, 242, 245);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .col-1 {
        width: 78%;
        display: flex;
        justify-content: center;

        #svgcontainer {
            padding-bottom: 10px;
        }
    }

    .col-2 {
        width: 22%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .hidden {
            display: none;
        }

        .multiselect-label {
            margin-bottom: 7px;
            font-size: 20px;
        }

        .multiselect-wrapper {
            text-align: center;
            text-align-last: center;
            -moz-text-align-last: center;
            border-radius: 5px;
            width: 220px;

            .select-box-wrapper {
                position: relative;

                .select-box {
                    width: 100%;
                    border-radius: 5px;
                    font-size: 15px;
                }

                .over-select {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
            }

            .checkboxes {
                display: flex;
                border-left: 1px #dadada solid;
                border-right: 1px #dadada solid;
                border-bottom: 1px #dadada solid;
                flex-direction: column;
                justify-content: flex-start;
                background-color: #FFFFFF;
                height: 250px;
                overflow: auto;

                .checkbox-wrapper {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 3px 0px;

                    .checkbox-box {
                        margin: 0px 5px;
                    }
                }
            }

            .hidden {
                display: none;
            }
        }

        .subgroup-checkboxes {
            display: flex;
            flex-direction: column;
        }
    }


}


#checkboxes label:hover {
  background-color: #1e90ff;
}